serie_2_raspi-master/CoronaFlow.txt
[{"id":"38a5c699.89392a","type":"tab","label":"corona","disabled":false,"info":""},{"id":"33f3363d.23af3a","type":"inject","z":"38a5c699.89392a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["39f5190f.080d46"]]},{"id":"39f5190f.080d46","type":"http request","z":"38a5c699.89392a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://141.41.235.21:1880/corona_regions","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":100,"wires":[["6f2f56ca.e3ca88"]]},{"id":"6f2f56ca.e3ca88","type":"function","z":"38a5c699.89392a","name":"successfulResponse","func":"payload = msg.payload\n\n// Check if we get a message\nmsg.continue = payload.includes('\"name\":\"Wolfenbüttel\"')\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["dd355f18.0141e"]]},{"id":"dd355f18.0141e","type":"switch","z":"38a5c699.89392a","name":"","property":"continue","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":100,"wires":[["65aa05af.fb008c"]]},{"id":"65aa05af.fb008c","type":"json","z":"38a5c699.89392a","name":"","property":"payload","action":"","pretty":false,"x":790,"y":100,"wires":[["2978d324.a632bc"]]},{"id":"2978d324.a632bc","type":"function","z":"38a5c699.89392a","name":"extractData","func":"\nmsg.payload = msg.payload.data.Wolfenbüttel;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":100,"wires":[["ba8a11ec.f737f"]]},{"id":"ba8a11ec.f737f","type":"mongodb out","z":"38a5c699.89392a","mongodb":"76111c15.f84cc4","name":"saveCoronaHistory","collection":"coronaHistory","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1170,"y":100,"wires":[]},{"id":"75093bce.825864","type":"mongodb in","z":"38a5c699.89392a","mongodb":"76111c15.f84cc4","name":"findCoronaLive","collection":"coronaLive","operation":"find","x":800,"y":600,"wires":[["8d1c7230.bb79c"]]},{"id":"d2e4043a.fbaf78","type":"http in","z":"38a5c699.89392a","name":"","url":"coronaLive","method":"get","upload":false,"swaggerDoc":"","x":80,"y":440,"wires":[["82eebbcf.257908"]]},{"id":"ed38e2ae.de981","type":"http response","z":"38a5c699.89392a","name":"","statusCode":"","headers":{},"x":1330,"y":600,"wires":[]},{"id":"8d1c7230.bb79c","type":"function","z":"38a5c699.89392a","name":"createReturnObj","func":"var arr=msg.payload.pop();\nvar obj=[];\nobj.push(arr[0]);\nobj.push(arr[1]);\nobj.push(arr[2]);\nobj.push(arr[3]);\nobj.push(arr[4]);\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":600,"wires":[["553da66a.dccfd8"]]},{"id":"553da66a.dccfd8","type":"json","z":"38a5c699.89392a","name":"","property":"payload","action":"","pretty":false,"x":1190,"y":600,"wires":[["ed38e2ae.de981"]]},{"id":"82eebbcf.257908","type":"http request","z":"38a5c699.89392a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://141.41.235.21:1880/corona_regions","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":440,"wires":[["7cb3ebe8.95c784"]]},{"id":"7cb3ebe8.95c784","type":"function","z":"38a5c699.89392a","name":"successfulRespone","func":"payload = msg.payload\n\n// Check if we get a message\nmsg.continue = payload.includes('\"name\":\"Wolfenbüttel\"')\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["4b959f6.c43466"]]},{"id":"4b959f6.c43466","type":"switch","z":"38a5c699.89392a","name":"","property":"continue","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":440,"wires":[["73e6a818.646568"],["75093bce.825864"]]},{"id":"73e6a818.646568","type":"json","z":"38a5c699.89392a","name":"","property":"payload","action":"","pretty":false,"x":770,"y":440,"wires":[["89711bfc.d43238"]]},{"id":"89711bfc.d43238","type":"function","z":"38a5c699.89392a","name":"createSaveObj","func":"var obj=[];\nobj.push(msg.payload.data.Helmstedt);\nobj.push(msg.payload.data.Braunschweig);\nobj.push(msg.payload.data.Salzgitter);\nobj.push(msg.payload.data.Goslar);\nobj.push(msg.payload.data.Harz);\nmsg.payload = obj;\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":440,"wires":[["ceed64a6.c51918","e9150be4.e9b998"]]},{"id":"920d7ad1.a35b28","type":"mongodb out","z":"38a5c699.89392a","mongodb":"76111c15.f84cc4","name":"SaveCoronaLive","collection":"coronaLive","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1310,"y":500,"wires":[]},{"id":"e9150be4.e9b998","type":"mongodb out","z":"38a5c699.89392a","mongodb":"76111c15.f84cc4","name":"removeCoronaLive","collection":"coronaLive","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":1310,"y":440,"wires":[]},{"id":"b8e54f87.a7fd9","type":"mongodb in","z":"38a5c699.89392a","mongodb":"76111c15.f84cc4","name":"","collection":"coronaHistory","operation":"find","x":640,"y":220,"wires":[["a05e9202.11f62"]]},{"id":"68057313.0db18c","type":"http in","z":"38a5c699.89392a","name":"","url":"coronaHistory","method":"get","upload":false,"swaggerDoc":"","x":130,"y":220,"wires":[["ef5df851.26dc38"]]},{"id":"1b2afa3.a444006","type":"http response","z":"38a5c699.89392a","name":"","statusCode":"","headers":{},"x":1190,"y":220,"wires":[]},{"id":"a05e9202.11f62","type":"json","z":"38a5c699.89392a","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":220,"wires":[["1b2afa3.a444006"]]},{"id":"ceed64a6.c51918","type":"delay","z":"38a5c699.89392a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":500,"wires":[["920d7ad1.a35b28","75093bce.825864"]]},{"id":"ef5df851.26dc38","type":"function","z":"38a5c699.89392a","name":"Query7Tage","func":"msg.limit = 7;\nmsg.skip = 0;\nmsg.sort = {\"_id\":1};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["b8e54f87.a7fd9"]]},{"id":"76111c15.f84cc4","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":""}]