serie_2_raspi-master/RaumüberwachungFlow.txt
[{"id":"53445b6d.cb8b34","type":"tab","label":"Raumüberwachung","disabled":false,"info":""},{"id":"77c21981.0281e8","type":"mqtt in","z":"53445b6d.cb8b34","name":"","topic":"topic/temperature","qos":"2","datatype":"auto","broker":"cda41c63.0067e","x":120,"y":100,"wires":[["3d3ff2ef.027a2e"]]},{"id":"53bcac05.ba88b4","type":"mqtt in","z":"53445b6d.cb8b34","name":"","topic":"topic/humidity","qos":"2","datatype":"auto","broker":"cda41c63.0067e","x":110,"y":260,"wires":[["3d3ff2ef.027a2e"]]},{"id":"8b8482d0.54e43","type":"mqtt in","z":"53445b6d.cb8b34","name":"","topic":"topic/pressure","qos":"2","datatype":"auto","broker":"cda41c63.0067e","x":110,"y":420,"wires":[["3d3ff2ef.027a2e"]]},{"id":"8ea3b041.05089","type":"mongodb out","z":"53445b6d.cb8b34","mongodb":"76111c15.f84cc4","name":"saveRaumalarm","collection":"raumalarm","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1120,"y":260,"wires":[]},{"id":"d6b890ab.4dc58","type":"mongodb out","z":"53445b6d.cb8b34","mongodb":"76111c15.f84cc4","name":"removeRaumalarm","collection":"raumalarm","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":1130,"y":720,"wires":[]},{"id":"3d3ff2ef.027a2e","type":"json","z":"53445b6d.cb8b34","name":"","property":"payload","action":"","pretty":false,"x":570,"y":260,"wires":[["8ea3b041.05089"]]},{"id":"800f0c18.77352","type":"function","z":"53445b6d.cb8b34","name":"toQuery","func":"msg.limit = 3;\nmsg.skip = 0;\nmsg.sort = {\"_id\":-1};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":580,"wires":[["e9bad6b1.ded978"]]},{"id":"e9bad6b1.ded978","type":"mongodb in","z":"53445b6d.cb8b34","mongodb":"76111c15.f84cc4","name":"findRaumalarm","collection":"raumalarm","operation":"find","x":620,"y":580,"wires":[["8e60bc73.2622a"]]},{"id":"9c6c04f0.7f1bf8","type":"inject","z":"53445b6d.cb8b34","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":"9","x":110,"y":720,"wires":[["d6b890ab.4dc58"]]},{"id":"35d45deb.3ee892","type":"http in","z":"53445b6d.cb8b34","name":"","url":"raumalarm","method":"get","upload":false,"swaggerDoc":"","x":120,"y":580,"wires":[["800f0c18.77352"]]},{"id":"6e05fd1b.bb3244","type":"http response","z":"53445b6d.cb8b34","name":"","statusCode":"","headers":{},"x":1290,"y":580,"wires":[]},{"id":"8e60bc73.2622a","type":"function","z":"53445b6d.cb8b34","name":"toJson","func":"msg.payload = {temp:msg.payload[2].payload,humidity:msg.payload[1].payload,pressure:msg.payload[0].payload}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":580,"wires":[["6e05fd1b.bb3244"]]},{"id":"cda41c63.0067e","type":"mqtt-broker","z":"","name":"","broker":"141.41.235.21","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"76111c15.f84cc4","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":""}]