serie_2_raspi-master/WeatherFlow.txt
[{"id":"d4b11991.57dc68","type":"tab","label":"Weather App","disabled":false,"info":""},{"id":"8ea90fd5.b6c53","type":"inject","z":"d4b11991.57dc68","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["cf1aafb9.eea6a","159141f5.74021e"]]},{"id":"cf1aafb9.eea6a","type":"http request","z":"d4b11991.57dc68","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/find?q=Wolfenb%C3%BCttel&APPID=9b03b33de290e32ae576a33486918d3c","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":220,"wires":[["479fac2c.892784"]]},{"id":"479fac2c.892784","type":"function","z":"d4b11991.57dc68","name":"successfulResponse","func":"payload = msg.payload\n\n// Check if we get a message\nmsg.continue = payload.includes('\"name\":\"Wolfenbüttel\"')\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["1669413e.c1a4af"]]},{"id":"1669413e.c1a4af","type":"switch","z":"d4b11991.57dc68","name":"","property":"continue","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":220,"wires":[["1bf7f294.e676fd"]]},{"id":"1bf7f294.e676fd","type":"json","z":"d4b11991.57dc68","name":"","property":"payload","action":"","pretty":false,"x":930,"y":220,"wires":[["a0ca87bf.fb58f8"]]},{"id":"a0ca87bf.fb58f8","type":"function","z":"d4b11991.57dc68","name":"extractData","func":"var objekt = msg.payload ;\nvar temp = objekt.list[0].main.temp;\nvar pressure = objekt.list[0].main.pressure;\nvar humidity = objekt.list[0].main.humidity;\nvar icon = objekt.list[0].weather[0].icon;\nvar description = objekt.list[0].weather[0].description;\nmsg.payload ={\"temp\":temp, \"pressure\":pressure, \"humidity\":humidity, \"icon\":icon, \"description\":description };\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["9cbfff50.aacbb"]]},{"id":"9cbfff50.aacbb","type":"mongodb out","z":"d4b11991.57dc68","mongodb":"76111c15.f84cc4","name":"saveWeather","collection":"weather","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1240,"y":220,"wires":[]},{"id":"1aa4609d.5f7c6f","type":"mongodb in","z":"d4b11991.57dc68","mongodb":"76111c15.f84cc4","name":"findWeather","collection":"weather","operation":"find","x":410,"y":500,"wires":[["4a8b9ea8.fdf3c"]]},{"id":"e2f5176.73cc8e8","type":"http in","z":"d4b11991.57dc68","name":"","url":"weather","method":"get","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["1aa4609d.5f7c6f"]]},{"id":"14130b0.ef1e4f5","type":"http response","z":"d4b11991.57dc68","name":"","statusCode":"","headers":{},"x":1110,"y":500,"wires":[]},{"id":"4a8b9ea8.fdf3c","type":"function","z":"d4b11991.57dc68","name":"read","func":"msg.payload = msg.payload.pop();\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["5a7830ab.e38e2"]]},{"id":"5a7830ab.e38e2","type":"json","z":"d4b11991.57dc68","name":"","property":"payload","action":"","pretty":false,"x":910,"y":500,"wires":[["14130b0.ef1e4f5"]]},{"id":"159141f5.74021e","type":"mongodb out","z":"d4b11991.57dc68","mongodb":"76111c15.f84cc4","name":"removeWeather","collection":"weather","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":300,"y":60,"wires":[]},{"id":"76111c15.f84cc4","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":""}]